:root {
  --background-color: rgb(34, 34, 34);
  --text-color: lightgoldenrodyellow;
  --hover-border: black;

  --button-color: black;
  --button-color-hover: khaki;

  --text-bg-color: khaki;
  --text-bg-color-hover: var(--text-bg-color);
  --text-bg-header-color: var(--button-color);
  --text-bg-header-color-hover: var(--button-color-hover);
}

html {
  background-color: var(--background-color);
  overflow-x: hidden;
}

.page {
  background-color: var(--background-color);
}

.header-bar {
  background-color: var(--button-color);
  height: 5vh;
  font-family: "Purple Purse", cursive;
}

.navbar-brand {
  color: rgba(250, 250, 210, 1) !important;
}

.navbar-text {
  color: rgba(250, 250, 210, 0.75) !important;
}

.chat-message.badge {
  padding: 15px;
  border-radius: 30px;
  font-size: 13px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.message-margins.row {
  margin-left: 10%;
  margin-right: 10%;
}

.message-mine {
  background-color: var(--text-color);
  color: var(--button-color);
}

.message-other {
  background-color: black;
  color: white;
}

.header {
  height: 5vh;
}

.chatroom {
  padding-left: 10px;
}

.chatroom-title {
  height: 4vh;
  text-align: center;
  color: var(--text-color);
}

.chatroom-messages {
  height: 80vh;
  overflow-y: scroll;
  margin-bottom: 5px;
  border: 2px solid;
  position: relative;
  background-color: rgb(27, 27, 27);
}

.most-recent-message-notification {
  width: 100%;
  background-color: PaleTurquoise;
  padding-top: 5px;
  padding-bottom: 5px;
  position: sticky;
  bottom: 0px;
}

.most-recent-message-notification:hover {
  cursor: pointer;
}

.invalid-textbox {
  border-color: #ff0000 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6) !important;
  outline-color: #ff0000 !important;
}

.chatroom-user-window {
  height: 80vh;
  overflow-y: scroll;
  margin-bottom: 5px;
  border: 2px solid;
  position: relative;
  background-color: rgb(27, 27, 27);
}

.chatroom-user-status-box.badge {
  padding: 15px;
  border-radius: 30px;
  font-size: 13px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 10px;
}

.chatroom-message-submit.btn-primary,
.chatroom-message-submit.btn-primary:focus {
  color: var(--text-color);
  border-color: var(--text-color);
  background-color: transparent;
  box-shadow: none;
}

.chatroom-message-submit.btn-primary:hover {
  color: var(--hover-border);
  background-color: var(--button-color-hover);
  border-color: var(--hover-border);
}

.chatroom-message-input.form-control,
.chatroom-message-input.form-control:focus {
  color: var(--text-color);
  border-color: var(--text-color);
  background-color: transparent;
  box-shadow: none;
}

.chatroom-message-prepend.input-group-text {
  color: var(--button-color);
  border-color: var(--text-color);
  background-color: var(--text-color);
}

.text-align-center {
  text-align: center;
}

.error-message {
  color: red;
}

.home-chatroom-name {
  float: left;
  color: var(--text-color);
}

.home-active-users {
  float: right;
  color: var(--text-color);
}

.home-card-header.card-header {
  padding-bottom: 0px;
  background-color: var(--text-bg-header-color);
}

.home-card-body {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  padding-bottom: 5px !important;
  padding-top: 5px !important;
  background-color: var(--text-color);
}

.home-card-body-content {
  color: black;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.home-card.border-dark {
  border-color: var(--text-color) !important;
}

.home-card:hover {
  border-color: var(--hover-border) !important;
}

.home-card:hover .home-card-header {
  background-color: var(--text-bg-header-color-hover);
  color: black;
}

.home-card:hover .home-card-header p {
  color: black;
}

.create-chatroom-button-align-left {
  flex-direction: row;
  display: flex;
  margin-top: 5px;
}

.create-chatroom-button-align-right {
  flex-direction: row-reverse;
  display: flex;
  margin-top: 5px;
}

.create-chatroom.btn {
  color: var(--text-color);
  background-color: var(--button-color);
  border-color: var(--text-color);
}

.create-chatroom.btn:hover {
  border-color: var(--hover-border);
  background-color: var(--button-color-hover);
}

.create-chatroom.btn:disabled {
  color: gray;
  background-color: rgba(0, 0, 0, 0.03);
}

.create-chatroom.btn:disabled:hover {
  border-color: white;
}

.change-username-modal-button-alignment {
  flex-direction: row-reverse;
  display: flex;
}
