.chat-message.badge {
  padding: 15px;
  border-radius: 30px;
  font-size: 13px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.message-margins.row {
  margin-left: 10%;
  margin-right: 10%;
}

.header-bar {
  height: 5vh;
}

.header {
  height: 5vh;
}

.chatroom {
  padding-left: 10px;
}

.chatroom-title {
  height: 4vh;
  text-align: center;
}

.chatroom-messages {
  height: 80vh;
  overflow-y: scroll;
  margin-bottom: 5px;
  border: 2px solid;
  position: relative;
}

.most-recent-message-notification {
  width: 100%;
  background-color: PaleTurquoise;
  padding-top: 5px;
  padding-bottom: 5px;
  position: sticky;
  bottom: 0px;
}
